### Consistency checks

In [8]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import Data
df = pd.read_csv(r'C:\Users\Jay\Documents\UFO Sightings Analysis\02 Data Sets\Original Data\ufo_sighting_data.csv', index_col = False, low_memory=False)

In [4]:
path = r'C:\Users\Jay\Documents\UFO Sightings Analysis'

In [5]:
path

'C:\\Users\\Jay\\Documents\\UFO Sightings Analysis'

In [6]:
df.head()

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [9]:
# check for mixed types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

state/province
country
UFO_shape
description

##### Mixed type data can be accounted for as columns in question also include blanks.

In [10]:
df.dtypes

Date_time                           object
city                                object
state/province                      object
country                             object
UFO_shape                           object
length_of_encounter_seconds         object
described_duration_of_encounter     object
description                         object
date_documented                     object
latitude                            object
longitude                          float64
dtype: object

In [11]:
df.shape

(80332, 11)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  object
 10  longitude                        80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [13]:
# find missing values
df.isnull().sum()

Date_time                             0
city                                  0
state/province                     5797
country                            9670
UFO_shape                          1932
length_of_encounter_seconds           0
described_duration_of_encounter       0
description                          15
date_documented                       0
latitude                              0
longitude                             0
dtype: int64

In [14]:
# find full duplicates
df_dups = df[df.duplicated()]

In [15]:
df_dups

Empty DataFrame
Columns: [Date_time, city, state/province, country, UFO_shape, length_of_encounter_seconds, described_duration_of_encounter, description, date_documented, latitude, longitude]
Index: []

##### No duplicate entries were identified.

### Cleaning procedures

In [34]:
# replace 33q.200088 with 33.200088 in latitude column
df['latitude'] = df['latitude'].replace('33q.200088', '33.200088')

In [35]:
# change latitude data type
df['latitude'] = df['latitude'].astype('float64')

In [38]:
# replace syntax errors in length_of_encounter_seconds column
df['length_of_encounter_seconds'] = df['length_of_encounter_seconds'].replace('0.5`', '0.5')

In [39]:
df['length_of_encounter_seconds'] = df['length_of_encounter_seconds'].replace('2`', '2')

In [40]:
df['length_of_encounter_seconds'] = df['length_of_encounter_seconds'].replace('8`', '8')

In [41]:
# change length_of_encounter_seconds data type
df['length_of_encounter_seconds'] = df['length_of_encounter_seconds'].astype('float64')

In [42]:
df.describe()

       length_of_encounter_seconds      latitude     longitude
count                 8.033200e+04  80332.000000  80332.000000
mean                  9.016889e+03     38.124416    -86.772885
std                   6.202168e+05     10.469585     39.697205
min                   1.000000e-03    -82.862752   -176.658056
25%                   3.000000e+01     34.134722   -112.073333
50%                   1.800000e+02     39.411111    -87.903611
75%                   6.000000e+02     42.788333    -78.755000
max                   9.783600e+07     72.700000    178.441900

In [43]:
# export cleaned dataframe to Prepared Data
df.to_csv(os.path.join(path, '02 Data Sets', 'Prepared Data', 'ufo_sighting_data_cleaned.csv'))